/******************************************
                don't use css
******************************************/
.theme-color {
    color: #01a89e;
    background-color: #01a89d79;
}
.theme-color:hover {
    color: #01857c;
    background-color: #01a89da2;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

/******************************************
                global css
******************************************/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif im !important;
}

h2 {
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
  color: #413960;
}

.card {
  box-shadow: 5px 5px 5px #c8c8c8;
}

.card:hover {
  box-shadow: 5px 5px 5px #f2f2f2;
}

/******************************************
                header css
******************************************/
.logo {
    height: 40px;
}

nav ul li a {
    text-transform: uppercase;
    font-weight: bold;
}
nav ul li a:hover {
  color: #007bff !important;
}



.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  color: #007bff !important;
}


/******************************************
                section css
******************************************/
section .container {
    padding: 50px 0;
}

.section-bg {
    background-color: #f2f2f2;
}

.row {
    margin: 50px 0;
}

@media screen and (max-width: 768px) {
    .row {
        margin: 30px 0;
    }
  }

.card-body .row {
    margin: 10px 0;
}



/******************************************
                section css
******************************************/

.testimonial {
    width: 70%;
    margin: 0 auto;
}

.testimonial img {
    height: 120px;
}

.testimonial p {
    margin: 22px 0 0 20px;
}

.testimonial h4 {
    margin-left: 20px;
}



/******************************************
                team section css
******************************************/

ul{
    margin:0;
    padding:0;
    list-style:none;
  }
  
  
  
.cnt-block{ 
     float:left; 
     width:100%; 
     background:#fff; 
     padding:30px 20px; 
     text-align:center; 
     border:2px solid #d5d5d5;
     margin: 0 0 28px;
  }
.cnt-block figure{
     width:148px; 
     height:148px; 
     border-radius:100%; 
     display:inline-block;
     margin-bottom: 15px;
  }
.cnt-block img{ 
     width:148px; 
     height:148px; 
     border-radius:100%; 
  }
.cnt-block h3{ 
     color:#2a2a2a; 
     font-size:20px; 
     font-weight:500; 
     padding:6px 0;
     text-transform:uppercase;
  }
.cnt-block h3 a{
    text-decoration:none;
      color:#2a2a2a;
  }
.cnt-block h3 a:hover{
      color:#337ab7;
  }
.cnt-block p{ 
     color:#2a2a2a; 
     font-size:13px; 
     line-height:20px; 
     font-weight:400;
  }
.cnt-block .follow-us{
      margin:20px 0 0;
  }
.cnt-block .follow-us li{ 
      display:inline-block; 
      width:auto; 
      margin:0 5px;
  }
.cnt-block .follow-us li .fab{ 
     font-size:24px; 
     color:#767676;
  }
.cnt-block .follow-us li .fab:hover{ 
     color:#025a8e;
  }
  



/******************************************
                contact section css
******************************************/

  .contact-btn {
      width: 100%;
  }

/******************************************
                footer section css
******************************************/
footer {
    background-color: #282531;
    color: #fff;
    padding: 50px 0;
}

footer ul {
    list-style: none;
}

footer ul li {
    margin-bottom: 10px;
}

footer li:first-child {
    font-weight: 700;
}

.copyright {
    color: #CDCDCD;
    text-align: center;
    margin-top: 50px;
}

.social-icon li {
    display: inline-block;
    margin-right: 10px;
}
.social-icon li:last-child {
    margin-right: 0;
}

.social-icon li a {
    color: #fff;
    font-size: 18px;
}
.social-icon li a:hover {
    color: rgb(173, 173, 173);
}



/******************************************
                cards css
******************************************/
.faq-card {
    margin: 50px 15px;
}




/******************************************
                Couse detail card
******************************************/
.course-detail-image {
    width: 100%;
}




/******************************************
                tabile design
******************************************/

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: #413f3f;
    font-size: 12px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}




/******************************************
                mission & vision
******************************************/

.feature-info {
    padding: 25px;
    border-radius: 10px;
}
.feature-info-icon {
    font-size: 38px;
    text-align: center;
    margin-bottom: 20px;
}


/******************************************
                404
******************************************/
.page-not-found {
    font-size: 350px;
}





/******************************************
                scroll
******************************************/
.scroll-box {
    display: flex;
    widows: 100%;
    overflow: hidden;
  }
  .scroll-box:hover {
    overflow: auto;
    overflow-y: hidden;
  }
  .scroll-box li {
    display: inline-block;
  }
  .scroll-box a {
    display: block;
    width: 300px;
    background: #f5f5f5;
    border: 1px solid #e5e5e5;
    padding: 10px;
    text-align: center;
    margin: 10px;
    color: #282828;
  }
  .scroll-box a:hover {
    text-decoration: none;
  }
  .scroll-box a h3 {
    margin-top: 10px;
  }
  .scroll-box a h1 {
    margin-top: 10px;
    color: orange;
  }
  .scroll-box a h4 {
    color: #aaa;
    margin-bottom: 15px;
  }
  .scroll-box a h5 {
    line-height: 20px;
  }

  .scroll-box i {
      font-size: 38px;
      padding: 10px;
      color: rgb(0, 162, 255);
  }

  .scroll-a {
    display: block;
    width: 500px !important;
    background: #f5f5f5;
    border: 1px solid #e5e5e5;
    padding: 10px;
    text-align: justify !important;
    margin: 10px;
    color: #282828;
  }

  .scroll-a i {
    font-size: 14px !important;
  }

















  /* design start from here */
  .navbar-light {
    background-color: white !important;
    border-top: 1px solid #dad7d7;
    border-bottom: 1px solid #dad7d7;
  }

  .nav-icon {
    border: 1px solid #dad7d7;
    padding: 10px;
    border-radius: 5px;
  }


  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: 0;
}

.live {
  margin-top: 7px;
  color: red;
  animation: mymove 2s infinite;
}
.live:hover {
  color: red;
}

@keyframes mymove {
  from {color: red;}
  to {color: rgb(231, 235, 18);}
}

.fb:hover {
  background-color: #3b5998;
  color: white;
  border: 1px solid #3b5998;
}

.yt:hover {
  background-color: #FF0000;
  color: white;
  border: 1px solid #FF0000;
}

.ldi:hover {
  background-color: #0e76a8;
  color: white;
  border: 1px solid #0e76a8;
}

.call:hover i {
  background-color: #01857c;
  color: white;
  border: 1px solid #01857c;
}

.email:hover i {
  background-color: #ff5722;
  color: white;
  border: 1px solid #ff5722;
}

.address:hover i {
  background-color: #673ab7;
  color: white;
  border: 1px solid #673ab7;
}

.popup {
  width: 100%;
}
